
body{font: 12px/100% "Microsoft Yahei","?бщииик??oи▓",'Arial','san-serif';background-color:#EDEDED;color: #666;margin: 0;padding: 0;}
body,html,ul, li, h1, h2, form, input, p, a {padding:0;	margin:0;outline: none;}
a {color:#504343;text-decoration:none;}
a:hover {color:#EB6A01;text-decoration:underline;}
ul,li {list-style:none;}
.loading_container{
    width: 100%;height: 100%;
    background-color: #fff;
    position: fixed;
    z-index: 999;
  }
  .loading_container p{
    position: absolute;
    top: 50%;
    left: 50%;
    line-height: 30px;
    font-size: 16px;
    margin-top: 60px;
    margin-left: -54px;
  }
  .loading {
          width: 90px;
          height: 90px;
          position: absolute;
          left: 50%;
          top: 50%;
          z-index: 999999;
          margin-top: -45px;
          margin-left: -45px;
          -webkit-animation: rotate 2.0s infinite linear;
          animation: rotate 2.0s infinite linear;
          }
          .dot1, .dot2 {
          width: 60%;
          height: 60%;
          display: inline-block;
          position: absolute;
          top: 0;
          background-color: #67CF22;
          border-radius: 100%;
          -webkit-animation: bounce 2.0s infinite ease-in-out;
          animation: bounce 2.0s infinite ease-in-out;
          }
          .dot2 {
          top: auto;
          bottom: 0px;
          -webkit-animation-delay: -1.0s;
          animation-delay: -1.0s;
          }
          @-webkit-keyframes rotate { 100% { -webkit-transform: rotate(360deg) }}
          @keyframes rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}
          @-webkit-keyframes bounce {
          0%, 100% { -webkit-transform: scale(0.0) }
          50% { -webkit-transform: scale(1.0) }
          }
          @keyframes bounce {
          0%, 100% {
          transform: scale(0.0);
          -webkit-transform: scale(0.0);
          } 50% {
          transform: scale(1.0);
          -webkit-transform: scale(1.0);
          }
          }

#cebian{float:clear;position: fixed;left:50%;top:180px; margin-left: 516px;border:1px solid #ccc;}
#cebian li{width: 80px; font-size: 14px; background-color: #fff;height: 26px; text-align: center;border-bottom: 1px solid #E6EBF4; line-height: 26px;}
#cebian li:hover{background-color: #2783e0;}
#cebian a{text-decoration: none; color: #333;display: block;}
#cebian a:hover{color: #fff;}
#cebian li:last-child {height: 48px;line-height: 48px;}


.zhutikuang{float:clear;width:980px;height:32px;margin: 0 auto;border: 0px solid #E9E9E9;overflow:hidden;}
.tab{width:980px;height: 30px; border-bottom: 1px solid #E9E9E9;/* border-left: 1px solid #E9E9E9;border-right: 1px solid #E9E9E9;border-top: 1px solid #E9E9E9; */}
.tab li{float: left; width: 88px;height: 30px;line-height: 30px; text-align: center;font-size: 16px;color:#000;overflow:hidden;}
.tab li:hover{color: #2783e0;background:#E0EEEE;cursor: pointer;}
.tab span{float:left;line-height: 30px;width: 92px;margin-bottom:1px;font-size: 14px;text-align: center;background-color: #2783e0; color: #fff;font-weight: bold;}
#daohang li:nth-child(7n+0){border-right: none;}
.ul1 .qiangdiao a,.content .qiangdiao a{color: #E13F3F; font-weight: bold;}
.ul1 li a,.content li a{display: block;}
.ul1 li{float:left;background:#F5F5F5;width:88px;height:26px;line-height:26px;font-size:14px;color:#fff;border-left:1px solid #e6e6e6;text-align:center;text-shadow:0.5px 0.5px 0.5px #f5f5f5;border-bottom:1px solid #e6e6e6;}
.ul1 li a{display:inline-block;width:88px;color:#000;}
.ul1 li a:hover{background-color:#405061;color:#FFFFFF;text-decoration:none;font-weight: bold; text-shadow:1px 1px 1px #000;transition: 0.2s;}
.ul1 img { margin-left: 2px;
    margin-right: 2px;
    margin-top: 3px;
    margin-bottom: 1px;
    width: 70px;
    height: 20px;
    vertical-align: bottom;
    border: 2px;}
#shoppingshow div,#ruanjianshow div,#mianfeishow div,#mediashow div,#pptshow div,#dushushow div,#workshow div,#readshow div,#mediashow div,#studyshow div,#searchshow div{display: none;}
#shoppingshow .show,#mediashow .show,#ruanjianshow .show,#mianfeishow .show,#pptshow .show,#dushushow .show,#workshow .show,#readshow .show,#mediashow .show,#studyshow .show,#searchshow .show{display: block;}
.searchtab .current,.shoppingtab .current,.mediatab .current,.ruanjiantab .current,.mianfeitab .current,.ppttab .current,.dushutab .current,.worktab .current,.readtab .current,.mediatab .current,.studytab .current,.daohangtab .current{ background-color:#EDEDED;color:#2783e0;font-weight:bold;border-bottom:1px solid #2783e0;/*border-right:1px solid #ccc;border-left:1px solid #ccc;*/}
.ul1 .xiaofenlei,.content .xiaofenlei{clear:both;color:#1874CD;font-weight:bold;background: #F8F8FF;}

.fh{width:980px; height:5px; overflow:hidden; margin:0 auto;}
.f-cb:after,.f-cbli li:after{display:block;clear:both;visibility:hidden;height:0;overflow:hidden;content:".";}.f-cb,.f-cbli li{zoom:1;}.f-ib{display:inline-block;*display:inline;*zoom:1;}.f-dn{display:none;}.f-db{display:block;}.f-fl{float:left;}.f-fr{float:right;}.f-pr{position:relative;}.f-prz{position:relative;zoom:1;}.f-oh{overflow:hidden;}.f-ff0{font-family:arial,\5b8b\4f53;}.f-ff1{font-family:"Microsoft YaHei",\5fae\8f6f\96c5\9ed1,arial,\5b8b\4f53;}.f-fs1{font-size:12px;}.f-fs2{font-size:14px;}.f-fwn{font-weight:normal;}.f-fwb{font-weight:bold;}.f-tal{text-align:left;}.f-tac{text-align:center;}.f-tar{text-align:right;}.f-taj{text-align:justify;text-justify:inter-ideograph;}.f-vam,.f-vama *{vertical-align:middle;}.f-wsn{word-wrap:normal;white-space:nowrap;}.f-pre{overflow:hidden;text-align:left;white-space:pre-wrap;word-wrap:break-word;word-break:break-all;}.f-wwb{white-space:normal;word-wrap:break-word;word-break:break-all;}.f-ti{overflow:hidden;text-indent:-30000px;}.f-ti2{text-indent:2em;}.f-lhn{line-height:normal;}.f-tdu,.f-tdu:hover{text-decoration:underline;}.f-tdn,.f-tdn:hover{text-decoration:none;}.f-toe{overflow:hidden;word-wrap:normal;white-space:nowrap;text-overflow:ellipsis;}.f-csp{cursor:pointer;}.f-csd{cursor:default;}.f-csh{cursor:help;}.f-csm{cursor:move;}.f-usn{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none;}.g-bd5{background-color:#EFEFEF;}.g-sd51,.g-sd52{position:relative;float:left;width:230px;margin:0 -230px 0 0;}.g-sd52{float:right;width:170px;margin:0 0 0 -170px;}.g-mn5{float:left;width:100%;margin-bottom:20px;}.g-mn5c{margin:0 14% 0 14%;}.base-topbar{position:relative;width:100%;height:36px;background:#343434 repeat-x 0 0;zoom:1;z-index:80;}.topbar-mod{height:36px;margin:0 auto;background:#343434 repeat-x 0 0;}.topbar-mod{margin:0 14% 0 14%;}.clearfix{zoom:1;}.clearfix:after{clear:both;content:'.';display:block;height:0;visibility:hidden;}.photo-logo{float:left;height:36px;overflow:hidden;width: 66%;}.photo-logo .logo{float:left;width:186px;height:28px;margin-top:4px;}a{color:#2e75bc;}.site-nav{float:right;height:36px;}.quick-menu{float:right;}.quick-menu,.sub-menu-wrap,.sub-menu-list{list-style:none;margin:0;padding:0;}.quick-menu .item{float:left;position:relative;padding-left:5px;margin-right:5px;background:#343434 no-repeat 0 13px;z-index:92;}.quick-menu .item.first{background:none;}.quick-menu .menu{position:relative;float:left;height:23px;line-height:23px;padding:0 9px;margin:6px 0;outline:none;-moz-outline:none;color:#ccc;z-index:91;}h3{display:block;font-size:1.17em;font-weight:bold;}.row-mod .bd{margin-top:18px;}.row-mod .hd{position:relative;}.row-mod .hd .title{float:left;font-family:\5FAE\8F6F\96C5\9ED1;font-size:20px;font-weight:normal;text-indent:-9999px;height:20px;line-height:20px;width:50%;}.cloud-intro-mod{padding-top:25px;#padding-bottom:2px;_padding-bottom:2px;border-top:1px solid #fff;border-bottom:1px solid #e0e0e0;margin-bottom:14px;}.cloud-intro-mod .bd{float:left;position:relative;background-position:0 -338px;padding-left:170px;height:120px;width:590px;}.u-tt{font-family:'microsoft yahei',sans-serif;}.u-tt-sm{font-size:12px;}.u-tt-md{font-size:14px;}.u-tt-lg{font-size:16px;}.u-tt-xl{font-size:18px;}.m-hd{height:35px;line-height:35px;padding:1px 0 0;border-bottom:1px solid #ddd;}.m-hd h2,.m-hd ul,.m-hd li{float:left;display:inline;}.m-hd h2{margin:0 20px 0 0;font-size:16px;}.m-hd ul{margin-left:-2px;}.m-hd li{position:relative;margin:-1px 0 0 2px;}.m-hd li a,.m-hd li a:hover{text-decoration:none;}.m-hd li a{float:left;padding:0 15px;border:1px solid #ddd;border-bottom:0;border-radius:5px 5px 0 0;text-align:center;font-size:14px;background:#f8f8f8;background:-webkit-gradient(linear,0% 0%,0% 100%,from(#fdfdfd),to(#f8f8f8));background:-webkit-linear-gradient(#fdfdfd,#f8f8f8);background:-moz-linear-gradient(#fdfdfd,#f8f8f8);background:-ms-linear-gradient(#fdfdfd,#f8f8f8);background:linear-gradient(#fdfdfd,#f8f8f8);}.m-hd li a:hover{background:#fff;}.m-hd li.z-crt a{position:relative;padding-bottom:1px;margin-bottom:-1px;background:#fff;color:#343434}.m-hd .more{float:right;margin-left:10px;}.m-hd-bg{padding:11px 10px 0;border-radius:5px 5px 0 0;background:#f7f7f7;}.m-hd-sl li{margin-left:-1px;}.m-hd-sl li a{border-radius:0;}.m-hd-sl li:first-child a{border-top-left-radius:5px;}.m-hd-sl li:last-child a{border-top-right-radius:5px;}.m-hd-rt h2{margin-right:0;}.m-hd-rt ul{float:right;}.m-hd-sm{height:25px;line-height:25px;}.m-hd-sm h2{font-size:14px;}.m-hd-sm li a{padding:0 10px;font-size:12px;}.m-hd-fw li a{width:78px;padding:0;}.m-hd-ra,.m-hd-ra li a,.m-hd-ra li:first-child a,.m-hd-ra li:last-child a{border-radius:0;}.m-hd-cnt{height:65px;line-height:25px;margin-top:10px;margin-left:10px;margin-bottom:4px;}.srh{text-align:center;margin-left:auto;margin-right:auto;}.srh .btnsrh{margin-top:10px;}.srh .btnsrh .btnsf{margin-left:22px;margin-right:22px;}.srh .btnrt{height:36px;margin-bottom:6px;margin-left:6px;}
.u-ipt{width:80%;padding:5px;height:24px;border:1px solid #cdcdcd;border-top-color:#c0c0c0;line-height:17px;#line-height:28px;_line-height:28px;font-size:16px;color:#000000;background:#FFFFFF;}
.u-ipt:focus{border:1px solid #0099FF;}
.u-btn{display:inline-block;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;padding:0 12px;height:30px;line-height:30px;border:0px solid #2d88bf;border-radius:1px;font-size:14px;letter-spacing:1px;text-align:center;vertical-align:middle;cursor:pointer;word-wrap:normal;white-space:nowrap;background:-webkit-gradient(linear,0% 0%,0% 100%,from(#6dbde4),to(#399dd8));background:-webkit-linear-gradient(#6dbde4,#399dd8);background:-moz-linear-gradient(#6dbde4,#399dd8);background:-ms-linear-gradient(#6dbde4,#399dd8);background:linear-gradient(#6dbde4,#399dd8);}.u-btn,.u-btn:hover{color:#fff;text-decoration:none;}.u-btn:hover,.u-btn:focus{background:#399dd8;}.u-btn:active{box-shadow:inset 0 1px 4px rgba(0,0,0,0.2);}.u-btn::-moz-focus-inner{padding:0;margin:0;border:0;}.u-btn .btnsel{display:inline-block;vertical-align:middle;border-style:solid;border-width:4px 4px 0;border-color:rgba(255,255,255,0.8) transparent transparent;}.u-btn:hover .btnsel,.u-btn:focus .btnsel{border-top-color:rgba(255,255,255,1);}.u-btn-c4{background:-webkit-gradient(linear,0% 0%,0% 100%,from(#38f),to(#38f));background:-webkit-linear-gradient(#38f,#38f);background:-moz-linear-gradient(#38f,#38f);background:-ms-linear-gradient(#38f,#38f);background:linear-gradient(#38f,#38f);}.u-btn-c4,.u-btn-c4:hover{color:#FFFFFF;}.u-btn-c4:hover,.u-btn-c4:focus{background:#1874CD;}.u-btn-c4 .btnsel{border-top-color:rgba(0,0,0,0.6);}.u-btn-c4:hover .btnsel,.u-btn-c4:focus .btnsel{border-top-color:rgba(0,0,0,1);}.hidden{display:none;}.categtags{float:left;width:30%;margin-left:1.2%;margin-right:1%;overflow:hidden;}.w-tit1{font-size:14px;font-weight:normal;color:#666;padding:0 0 10px;border-bottom:4px solid #343434;margin:0 0 10px;line-height:20px;cursor:pointer;}.m-tags{line-height:20px;}.m-tags li{float:left;vertical-align:bottom;padding:0 1px 6px 0;}.m-tags a{font-size:14px;float:left;padding:0 7px;color:#343434;white-space:nowrap;-webkit-transition:.3s;-moz-transition:.3s;-o-transition:.3s;-ms-transition:.3s;transition:.3s;}.m-tags .crt a,.m-tags a:hover{background:#000;color:#fff;text-decoration:none;}.bgmsc{padding:2px;margin-left:10px;color:#000;}.bgvdo{padding:2px;margin-left:10px;color:#000;}.bgbk{padding:2px;margin-left:10px;color:#3ba354;}.bgsft{padding:2px;margin-left:10px;color:#000;}.bgimga{padding:2px;margin-left:10px;color:#000;}.bgmsc:hover{box-shadow:inset 0 1px 4px rgba(0,0,0,0.2);}.bgvdo:hover{box-shadow:inset 0 1px 4px rgba(0,0,0,0.2);}.bgbk:hover{box-shadow:inset 0 1px 4px rgba(0,0,0,0.2);}.bgsft:hover{box-shadow:inset 0 1px 4px rgba(0,0,0,0.2);}.bgimga:hover{box-shadow:inset 0 1px 4px rgba(0,0,0,0.2);}.bgbook{color:#3ba354;}.g-ft{padding:30px 0 10px;border-top:1px solid #dbdbdb;background:-webkit-linear-gradient(#f9f9f9,#fff 30px);background:-moz-linear-gradient(#f9f9f9,#fff 30px);background:-ms-linear-gradient(#f9f9f9,#fff 30px);background:linear-gradient(#f9f9f9,#fff 30px);}.g-in{width:900px;margin:0 auto;}.g-in,.m-list ul,.m-anform .cnt ul{zoom:1;}.m-ft{line-height:19px;text-align:center;color:#999;}.m-ft a{margin:0 6px;color:#999;}.g-fta{color:#d7292b;}.g-mn{float:left;width:100%;margin-right:-340px;border-top:1px solid #e0e0e0;}.g-mnc{margin-right:320px;}.m-tlt0{margin:30px 0 0;height:30px;color:#999;}.m-fun li{padding:0 0 10px 25px;margin:0 0 10px;font-size:14px;}.m-tlt{height:24px;line-height:24px;font-size:16px;font-weight:normal;color:#00609a;text-shadow:1px 1px 1px #ddd;font-family:'?бщииик??oи▓';}.m-fun li p{line-height:16px;height:16px;color:#666;}.g-sd{float:right;width:340px;}.g-sd .inner{padding:0px 0 20px 44px;}.m-lst{font-size:14px;}.m-lst li{height:24px;line-height:24px;padding-left:15px;background-position:0 0;}.clred{color:#FF0000;}.newred{font-size:10px;margin-left:2px;}


#footer{
	width: 100%;
	height: 20px;
	margin-top: 10px;
	background: #303030;
	padding: 24px 0 40px 0;
}
#footer p{
	text-align: center;
	color: #C3C3C3;
	line-height: 30px;
}
#footer a{
	color: #C3C3C3;
	margin-left: 12px;
}
#footer a:hover{
	color: #fff;
}







