.siteEmpty {
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
  color: #fff;
}

.anchor {
  position: fixed;
  top: 8rem;
  left: 1rem;
  width: 100px;
  a {
    color: #c0c0c0;
  }
  .anchorBtn {
    padding: 2px 0 2px 16px;
  }
}
