.siteForm {
  :global {
    .ant-image {
      position: absolute;
      right: 5px;
      top: 0px;
      width: 42px;
      font-size: 12px;
    }
  }
}

.iframeBox {
  width: 359px;
  height: 220px;
  overflow: hidden;
}
.iframe {
  width: 1000px;
  height: 700px;
  transform-origin: left top;
  transform: scale(0.359);
}

.logoOption {
  width: 100%;
  padding: 0 1.5rem 0 0.5rem;
  display: flex;
  justify-content: space-between;
  .logoLink {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 150px;
  }
}
