.siteForm {
  :global {
    .ant-image {
      position: absolute;
      right: 25px;
      top: 0px;
      width: 42px;
      font-size: 12px;
    }
  }
}

.iframeBox {
  width: 300px;
  height: 220px;
  overflow: hidden;
}
.iframe {
  width: 1000px;
  height: 700px;
  transform-origin: left top;
  transform: scale(0.3);
}
