body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div,dl,dt,dd,input{margin:0;padding:0}h2,h3{font-weight:normal}
.clearfix:after{content:"";display:block;clear:both}
.fl{float:left}
.fr{float:right}li{list-style:none}input,select,textarea{outline:0;border:0;background:0}textarea{resize:none}a{text-decoration:none;-webkit-tap-highlight-color:transparent}input{-webkit-appearance:none}ul{margin:0;padding:0;list-style:none}img{border:0;vertical-align:top}html{height:100%;overflow:hidden}
body{height:100%;overflow:auto;background-color:#f0f0f0;font-family:"微软雅黑"}
.header{width:100%;background-color:#303030;padding-bottom:1rem;position:relative}
.header a{display:block;font-size:.95rem;color:#fff;text-align:center}
.header img{height:3rem;margin-top:.4rem;margin-bottom:.3rem}
.header .close-btn{position:absolute;top:3.7rem;left:15rem;display:block;width:1.7rem;height:1.7rem;background:url(../common/img/close_icon.png) no-repeat center center;background-size:.7rem .7rem}
.header .search-input{background-color:#fff;display:block;width:86%;height:1.7rem;margin:0 auto;color:#000;font-size:.7rem;padding:0 1.7rem 0 .4rem;box-sizing:border-box}
.header .search-btn{font-size:0;width:100%;text-align:center;margin-top:.8rem}
.header .search-btn span{font-size:.6rem;padding:.3rem .6rem;color:#fff;background-color:#b9282f;margin-left:1rem;letter-spacing:.1rem;transition:padding-left .3s}
.header .search-btn span:first-child{margin-left:0}
.header .search-btn .active{padding-left:.9rem;background:#b9282f url(../common/img/active.png) no-repeat;background-size:.5rem .5rem;background-position:.2rem center}
.nav{margin-top:.32rem}
.nav_header{height:1.83rem;background-color:#fff;padding-left:.5rem;box-sizing:border-box}
.nav_header h2{font-size:.6rem;line-height:1.83rem;color:#000;font-weight:bold}
.nav_con li{
    display: block;
    width: 33.2%;
    height: 200px;
    font-size: 70px;
    text-align: center;
    padding-top: 55px;
    box-sizing: border-box;
    float: left;
    border-bottom: 4px solid #E6EBF4;
    border-left: 3px solid #E6EBF4;	
}
.nav_con img { 
    width: 80%;
    height: 80%;
    vertical-align: bottom;
    border: 2px;}
footer{height:4rem;margin-top:1rem;background-color:#fff}
footer p{text-align:center;font-size:.64rem;color:#666;padding-top:.8rem}footer p a{font-size:.64rem;color:#666;margin:0 .4rem}
footer p:nth-of-type(2){padding-top:.5rem}