html {
  font-size: 20px;
}

body {
  margin: 0;
  padding: 0;
  background: url(../img/bg.jpeg) no-repeat;
  background-color: #f0f0f0;
  background-size: cover;
}

body * {
  margin: 0;
  padding: 0;
}

ol,
ul,
li {
  list-style: none
}

footer {
  text-align: center;
}

a,
a:focus{
  color: #f0f0f0;
  cursor: pointer;
}
a:hover{
  color: #409eff;
}
button {
  border: none;
  outline: none;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}
@media screen and (min-width: 1600px){
  html {
    font-size: 28px;
  }
  .el-main {
    padding: 2rem 0;
    .container {
      width: 60rem;
    }
  }
}
@media screen and (min-width: 1222px) and (max-width: 1600px) {
  .el-main {
    padding: 2rem 0;
    .container {
      width: 60rem;
    }
  }
}
@media screen and (min-width: 769px) and (max-width: 1221px) {
  .el-main {
    padding: 2rem 0;
    .container {
      width: 49rem;
    }
  }
}

@media screen and (max-width: 768px) {
  .el-main {
    padding: 2rem 0;
    .container {
      width: 100%;
      max-width: 100%;
      padding: 0.4rem;
      .grid {
        width: 100%;
      }
    }

    .nav-tab .site-item {
      width: 32%;
      height: 1.8rem;
      line-height: 1.8rem;

      a {
        text-align: center;
      }

      a .site-name {
        position: initial;
        left: auto;
      }
    }
  }

  .el-message-box {
    width: 80%;
  }

  .el-message {
    width: 70%;
    min-width: auto;
  }
}
