.sortBox {
  width: 100%;
  background: hsla(0, 0%, 100%, 0.5);
  font-size: 0.7rem;
  border-radius: 3px;
  overflow: hidden;
  margin: 0.3rem 0rem;
}
.drag {
  border: 1px dashed #f0f0f0;
  cursor: move;
}
.siteContainBox {
  padding: 0px .5rem;
  margin-bottom: 0.2rem;
  .siteBox {
    z-index: 10;
    width: 100%;
    transform: rotateX(0deg);
    transform-origin: center 0;
    transition: all 0.5s;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2px;
  }
}
.site {
  width: 100%;
  height: 1.5rem;
  line-height: 1.5rem;
  box-sizing: border-box;
  position: relative;
  a {
    color: #000;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 0 0.3rem;
    transition: transform 0.1s linear;
    font-size: 0.7rem;
    background-color: hsla(0, 0%, 100%, 0.2);
    display: flex;
    justify-items: center;
    justify-content: flex-start;
  }
  .edit {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 88;
    text-align: center;
    color: #fff;
    top: 0;
    background: rgba(255, 255, 255, 0.2);
    font-size: 1rem;
    span {
      cursor: pointer;
      &:hover {
        color: #000;
      }
    }
  }
}
.siteDrag {
  opacity: 0.3;
  &::before{
    width:100%;
    height:100%;
    content:'';
    display:block;
  }
}

@media screen and (min-width: 1600px) {
  .siteContainBox .siteBox {
    grid-template-columns: repeat(6, 1fr);
  }
}
@media screen and (min-width: 1222px) {
  .siteContainBox .siteBox {
    grid-template-columns: repeat(5, 1fr);
  }
}
@media screen and (min-width: 992px) and (max-width: 1221px) {
  .siteContainBox .siteBox {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .siteContainBox .siteBox {
    grid-template-columns: repeat(5, 1fr);
  }
}
@media screen and (max-width: 767px) {
  .siteContainBox .siteBox {
    grid-template-columns: repeat(4, 1fr);
  }
}
