$head-text:#fff;
$s-border:#fff;
$s-hover:#fff;
$s-hover-bg:#409eff;
$s-suggest-bg:#131F32;
$s-del:gray;
$s-text:#fff;
$s-suggest:#c0c0c0;
$sBtnBg:rgba(229,28,35,1);
$sBtnColor:#fff;
$reg-border:#f0f0f0;
$reg-label:#fff;
$foot-text:#fff;
$error:#f56c6c;